<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">


                <h3>Edit your listings</h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks good</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" required
                            class="form-control"><%= listing.description %> </textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                    </div>

                    <div class="mb-3">
                       Original Listing Image <br>
                        <img src="<%= originalImageUrl %>" >
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>
                    <div class="row ">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control"
                                required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>"
                                class="form-control" required>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"
                            required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>

                    <button class="btn btn-dark add-btn mt-3 mb-3">Edit</button>
                </form>
            </div>
        </div>
    </body>