<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <h3>Listings Details:</h3>
    <ul>
        <li>
            <%= listing.title %>
        </li>
        <li>
            <%= listing.description %>
        </li>
        <li>
            &#8360; <%= listing.price.toLocaleString("en-IN") %>
        </li>
        <li>
            <%= listing.location %>
        </li>
        <li>
            <%= listing.country %>
        </li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
    <br><br>
    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>

</html>