<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>All chats!</h3>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    <% for (const chat of chats) { %>
        <div class="chat">
            <p>From: <i>
                    <%= chat.from %>
                </i></p>
            <div class="msg">
                <p>Chat: <%= chat.msg %>
                </p>
                <form method="get" action="/chats/<%= chat._id %>">
                    <button>Show</button>
                </form>
                <br>
                <form method="get" action="/chats/<%= chat._id %>/edit">
                    <button>Edit</button>
                </form>
                <br>
                <form method="post" action="/chats/<%= chat._id %>?_method=DELETE" class="delete-form">
                    <button>Delete</button>
                </form>
            </div>
            <p>Received By: <i>
                    <%= chat.to %>
                </i></p>
            <hr>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %></p> 
           <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p> 
        </div>
        <br><br>
 <%   }  %>
 <script>
    // Select all delete forms
    const deleteForms = document.querySelectorAll('.delete-form');

    // Add an event listener to each form
    deleteForms.forEach(form => {
        form.addEventListener('submit', function (e) {
            const isConfirmed = confirm("Are you sure you want to delete this chat?");
            if (!isConfirmed) {
                // Prevent form submission if the user cancels
                e.preventDefault();
            }
        });
    });
</script>
</body>
</html>